@font-face {
    font-family: 'Brown';
    src: url('assets/brown.woff2') format('woff2');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Brown';
}

a{
    text-decoration: none;
    color: black;
}

/* Interface */

.interface{
    height: fit-content;
    width: 100%;
}

.interface table{
    width: 90%;
    margin: auto;
    height: fit-content;
}

.interface table caption{
    margin: 20px auto;
}

.interface table th, .interface table td{
    border: 0.5px solid grey;
    width: fit-content;
    text-align: center;
}

/* Header */

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.5px gray;
}

.header-row{
    position: relative;
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.sign-in-link{
    margin-left: 5px;
}

.hamburger-button{
    display: none;
}

.right-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right-side .loop-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Loop */

.loop{
    display: none;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
}

.loop.open{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.loop-first-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.loop-first-row input{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(237, 237, 237);
}

.loop-first-row button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.loop-scnd-row{
    height: fit-content;
    width: 100%;

}

.loop-scnd-row ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.loop-scnd-row li{
    padding: 10px;
}

/* Nav */

nav{
    width: 100%;
    border-top: solid 0.5px gray;
}

nav ul{
    width: 50%;
    margin: auto;
    padding: 10px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li:hover{
    border-bottom: 1px solid black;
}

/* Slider */

.slider{
    height: 100%;
    width: 100%;
}

.slider-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-div img{
    width: 50%;
    object-fit: contain;
}

.slider-cta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255 , 255, 0.9);
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Sign In / Login */

.sign-in-title, .login-title, .forgot-title, .reset-title{
    margin: 50px;
    text-align: center;
}

.sign-in-form, .login-form, .forgot-form, .reset-form{
    height: fit-content;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.sign-in-form input, .login-form input, .forgot-form input, .reset-form input{
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.sign-in-form input::placeholder, .login-form input::placeholder, .forgot-form input::placeholder, .reset-form input::placeholder{
    color: black;
}

.sign-in-form button, .login-form button, .forgot-form button, .reset-form button{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border : 1px solid gray;
    border-radius: 4px;
    margin-top: 20px;
}

.sign-in-form button:hover, .login-form button:hover, .forgot-form button:hover, .reset-form button:hover{
    color: #fff;
    background-color: black;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.already-account, .forgot-password-link{
    display: block;
    text-align: center;
    text-decoration: underline;
    margin: 20px auto;
}

/* User added */

.user-added-page{
    height: 100vh;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    z-index: -1;
}

.user-added-page a{
    text-decoration: underline;
}

@media(max-width : 768px){

    /* Header */

    .left-side{
        flex-direction: row;
        gap: 15px;
    }
    .sign-in-link{
        display: none;
    }
    .hamburger-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .hamburger-button.open{
        transform: translateY(-6px);
    }

    .top-bar, .bottom-bar {
        width: 100%;
        height: 3px;
        background-color: rgb(42, 41, 41);
        border-radius: 3px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .hamburger-button.open .top-bar{
        transform: rotate(45deg) translate(7.5px ,12px);
    }

    .hamburger-button.open .bottom-bar{
        transform: rotate(-45deg) translate(-5.5px , 2px) ;
    }

    .loop p{
        display: none;
    }
    .likes{
        display: none;
    }

    /* Nav */

    nav{
        width: 100%;
        display: none;
        background-color: #fff;
        overflow-x: scroll;
    }
    nav.open{
        display: block;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
        width: max-content; 
        white-space: nowrap;
        gap: 10px;
    }
    nav ul li{
        margin: auto 8px;
    }

    /* Slider */

    .slider-div{
        flex-direction: row;
    }
    .slider-div img{
        display: flex;
        flex-direction: column;
        width: 100%;
        object-fit: contain;
    }
    .slider-cta{
       width: 80%;
    }

    /* Sign In */
    .sign-in-title, .login-title{
        margin: 20px;
    }
    .sign-in-form, .login-form{
        width: 60%;
    }
}
